

:root {
  --primary-bg-color: #f1f1f1;
  --secondary-bg-color: #893400;
  --tertiary-bg-color: #11152c;
  --quaternary-bg-color: #f9f9f9;

  --primary-text-color: #101010;
  --secondary-text-color: #1b1b1b;
  --tertiary-text-color: #353535;
  --quaternary-text-color: #ffffff;

  --border-color: #000000;
  --brand--color: #cc4700;
}
/* *  {
  outline: 1px solid red;
} */



div nav button.selected {
  color: var(--quaternary-text-color) !important;
  background-color: var(--secondary-bg-color) !important;
  outline: 1.3px ridge var(--black) !important; 
  outline-offset: .3em !important;
}

.navbar {
  height: 4em;
}

main {
  padding-top: 2em;
}
table * {
  border: 1px solid var(--primary-text-color);
  text-align: center;
}

table {
  /* border: 1px solid red; */
  border-collapse: collapse;
  width: 100%;
}

table {
  max-height: 100px;
  height: fit-content;
  overflow: scroll;
}

form label {
  display: block !important;
}

.flex-row * {
  display: inline;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 2em;
}

.grid-column {
  grid-template-rows: 1fr 1fr;
}

.user {
  border: 0.5px solid black;
  border-radius: 1em;
  padding: 1em;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  width: max-content;
  height: 3em;
  z-index: 2;
}

.logo {
  margin: auto 2px;
  /* margin-left: 2px; */
  width: 20px;
}

.display--none {
  display: none;
}

.user__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding-top: auto;
  margin-top: 24x;
}

.title {
  color: var(--primary-text-color);
}
.dropdown-button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.grid--responsive-half {
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
}

.cgpa {
  height: fit-content;
  padding: 3em;
  border: 0.5rem solid var(--quaternary-bg-color);
  background-color: var(--quaternary-text-color);
  border-radius: 2em;
  color: var(--tertiary-text-color);
}

.user_nav-menu {
  background-color: #f1f1f1;
  padding: 1em;
  margin: 0;
  border: 1px solid black;
  box-shadow: 0 2px 15px black;
  text-align: center;
  z-index: 400;
}

#cgpa {
  width: 6rem;
  height: 6rem;
  /* border-left: 1rem solid var(--quaternary-text-color); */
  border-left: 1rem solid rgb(85, 85, 255);
  /* border-right: 1rem solid var(--secondary-bg-color); */
  border-bottom: 1rem solid rgb(85, 85, 255);
  border-top: 1rem solid var(--secondary-bg-color);
  border-right: 1rem solid var(--secondary-bg-color);
  border-radius: 50%;
  margin: auto auto;
  display: flex;
  padding: 1.4em;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.grid--col-2 {
  grid-template-columns: repeat(3, 1fr) 4em;
  grid-template-rows: auto;
}


.grid--col-6 {
  grid-template-columns: repeat(6, 1fr) 4em;
  grid-template-rows: auto;
}


.grid--auto {
  grid-template-columns: 90%;
  height: fit-content ;
  grid-template-rows: auto;
  gap: 1em;
  padding: 1em !important;
}

.grid--auto >*{
  outline: 1px groove black !important;
}

input :not([type="radio"]) {
  outline: 0.5px solid var(--primary-text-color);
}

input[type="checkbox"]{
  outline: none !important;
}

.button--primary {
  height: fit-content;
  margin-top: auto;
    margin-bottom: 0;
}

.error {
  margin-top: 1em;
}

.flex--wrap-row {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
}

.flex__item{
  min-width: min-content;
  width: 30%;
}

.flex__item label {
width: fit-content;}


@media screen and (max-width: 576px) {
}

@media screen and (max-width: 768px) {

  .user__info-name {
    display: none;
  }

  .grid-row {
    flex-wrap: wrap;
  }

  .grid--col-2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .grid--col-6 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2 auto);
  }

}


@media screen and (max-width: 1200px) {

  .grid--responsive-half {
    grid-template-columns: 80%;
    grid-template-rows: auto auto;
    justify-content: center;
  }

}