/* Fonts*/
/* normal Black */

:root {
  --primary-bg-color: #262e57;
  --secondary-bg-color: #893400;
  --tertiary-bg-color: #5a5a5a;
  --quaternary-bg-color: #f9f9f9;

  --primary-text-color: #101010;
  --secondary-text-color: rgb(23, 23, 23);
  --tertiary-text-color: #353535;
  --quaternary-text-color: #ffffff;

  --border-color: #000000;
  --brand--color: #cc4700;
}


/* overriding bootstrap colors */

.bg-primary {
  background-color: var(--primary-bg-color) !important;
}
.bg-secondary {
  background-color: var(--secondary-bg-color) !important;
}
.bg-tertiary {
  background-color: var(--tertiary-bg-color) !important;
}
.text-color-primary {
  color: var(--primary-text-color) !important;
}
.text-color-secondary {
  color: var(--secondary-text-color) !important;
}
.text-color-tertiary {
  color: var(--tertiary-text-color) !important;
}
.text-color-quaternary {
  color: var(--quaternary-text-color) !important;
}
/* index.html */
.navbar {
  max-height: 4rem !important;
}

#logo {
  height: 3.5rem;
  width: 3rem;
}

#height--fullheight {
  position: relative;
  height: 85vh;
}

#scroll {
  bottom: -8%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#scroll img {
  height: 2rem;
}

.banner__img {
  height: 8rem;
  width: 10rem;
}

.navbar-collapse {
  z-index: 3;
}

.min-height-100 {
  min-height: 100vh !important;
}

.min-height-50 {
  min-height: 50vh !important;
}

.bg-image--blurred {
  background-image: url("../images/graduating students.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(8px);
}

.bg-image--blurred::after {
  background-color: #ecefff7b;
  z-index: -1;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

#cgpa {
  border-left: 1rem solid rgb(85, 85, 255);
  border-bottom: 1rem solid rgb(85, 85, 255);
  border-top: 1rem solid var(--secondary-bg-color);
  border-right: 1rem solid var(--secondary-bg-color);
  margin: auto auto;
  display: flex;
  padding: 1.4em;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}
