:root {
  --primary-bg-color: #f1f1f1;
  --secondary-bg-color: #5a5a5a;
  --tertiary-bg-color: #262e57;
  --quaternary-bg-color: #f9f9f9;

  --primary-text-color: #101010;
  --secondary-text-color: #1b1b1b;
  --tertiary-text-color: #353535;
  --quaternary-text-color: #ffffff;

  --border-color: #000000;
  --brand--color: #cc4700;
}

.page {
  position: relative;
}

.top-nav {
  background-color: var(--secondary-bg-color);
  color: var(--quaternary-text-color);
  height: 3.5em;
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: auto 1fr;
}

.top-nav p {
  display: inline-block;
}

.top-nav a {
  margin-left: 1em;
  margin-top: auto;
  margin-bottom: auto;
}

.top-nav img{
  width: 1.8em;
}
.icon--back {
  position: absolute;
  display: inline-block;
  top: 2px;
  left: 2px;
}
.grid--responsive-half {
  margin: 0 !important;
  padding: 0 !important;
}

.grid--responsive-half {
  justify-items: center;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
}

.grid__item {
  margin-top: 0;
  margin-bottom: auto;
  padding: 0 !important;
}

.grid--col-2 {
  gap: 1em;
}

main {
  background-color: var(--primary-bg-color);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 4rem;
  min-height: 90vh !important;
  height: fit-content !important  ;
}

form {
  max-width: 1000px;
  width: 80%;
  margin-inline: auto;
  padding: 0;
  margin-top: 0;
  margin-bottom: auto;
}

fieldset {
  margin-top: 0;
  margin-bottom: auto;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 2;
}

.banner__title {
  color: var(--quaternary-text-color);
  font-size: 2em;
  white-space: wrap;
}

aside.banner {
  background-color: var(--tertiary-bg-color);
  color: var(--quaternary-text-color) !important;
}

aside .banner__title {
  text-align: center;
}

.banner__logo {
  max-width: 110px;
  width: 5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

fieldset {
  text-align: center;
  padding: 1em;
  display: grid;
  gap: 1em;
}

form {
  min-height: fit-content;
  text-align: center;
}

main {
  order: 1;
}

main.grid__item form {
  /* margin-top: auto; */
  margin-bottom: auto;
}

@media screen and (max-width: 576px) {
  .grid--col-2 {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 768px) {
  .grid--col-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

@media screen and (min-width: 576px) {
  input {
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    flex-direction: row;
    order: 1 !important;
    padding: 4em !important ;
  }
  .grid--responsive-half {
    grid-template-columns: 1fr;
    grid-template-rows: 10em auto;
  }

  main {
    order: 2 !important;
  }
  input {
    margin-inline: auto;
  }
}
