/* Fonts*/
/* normal Black */


/* index.html */
.navbar {
  max-height: 4rem !important;
}

#logo {
  height: 3.5rem;
  width: 3rem;
}

#height--fullheight {
  position: relative;
  height: 85vh;
}

#scroll {
  position: absolute;
  bottom: -8%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#scroll img {
  height: 2rem;
}

.banner__img {
  height: 8rem;
  width: 10rem;
}

.navbar-collapse {
  z-index: 3;
}

.min-height-100 {
  min-height: 100vh !important;
}

.min-height-50 {
  min-height: 50vh !important;

}
