

.grid--responsive-2 {
  border-bottom: 1px ridge black;
}

.button__icon--centered {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
}

.button--bottom-0 {
  bottom: 0px;
}

.grid__item--image {
  border-radius: 4%;
}

.sectiontext__topic {
  font-weight: 800;
  text-align: center;
  text-decoration: underline;
}
.sectiontext__list li {
  margin-left: 10%;
  list-style-type: square;
}

#section_1 {
  transition: transform 1s ease-in-out;
}
/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {


  .grid--responsive-2 {
    grid-template-columns: 1fr;
    gap: 4em;
  }

  .section {
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.482);
  }
}

@media screen and (max-width: 768px) {
  .grid__item--image {
    order: 2;
    width: 50%;
    margin-inline: auto;
  }

}
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .grid--responsive-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
}
