

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}

body{
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
}

a{
    font-style: italic;
    text-decoration: underline;
}

main{
    width: 60%;
    min-width: 460px;
}

form{
    outline: 1px solid rgb(0, 26, 255);
}

form>div{
    display: block;
    width: max-content;
    margin-inline: auto;
}

aside{
    width: 40%;
}

aside *{
    width: 50%;
    margin-inline: auto;
}